/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html {
  background-image: url(crumpled-paper.jpg); no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body
{
    background-color: #F1F1F2;
    font-family: 'Lato', sans-serif !important;
}

.nav-stuff {
  z-index: 1;
}

div.container-fluid {
  background-color: rgb(1,22,29);
}

div.modal-content {
  top: 200px;
  background-color: rgba(0,0,0,0.0);
  text-align: center;
  border: none;
  -webkit-box-shadow: 0 5px 15px rgba(0,0,0,0);
  -moz-box-shadow: 0 5px 15px rgba(0,0,0,0);
  -o-box-shadow: 0 5px 15px rgba(0,0,0,0);
  box-shadow: 0 5px 15px rgba(0,0,0,0);
}

div.modal-backdrop {
   display: none;
}

.navbar-brand{
  font-family: 'Lato', sans-serif !important;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  min-height: 100%;
  position: relative;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 80px;
}
#footer {
  font-size: 13px;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30px;
  opacity: 0.4;
}

/* Heart
-------------------------------------------------- */
#heart {
    position: relative;
    width: 100px;
    height: 90px;
}
#heart:before,
#heart:after {
    position: absolute;
    content: "";
    left: 7.25px;
    /*top: 0;*/
    bottom: 2px;
    width: 7.25px;
    height: 12px;
    background: red;
    -moz-border-radius: 50px 50px 0 0;
    border-radius: 50px 50px 0 0;
    -webkit-transform: rotate(-45deg);
       -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
         -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transform-origin: 0 100%;
       -moz-transform-origin: 0 100%;
        -ms-transform-origin: 0 100%;
         -o-transform-origin: 0 100%;
            transform-origin: 0 100%;
}
#heart:after {
    left: 0;
    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
         -o-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transform-origin: 100% 100%;
       -moz-transform-origin: 100% 100%;
        -ms-transform-origin: 100% 100%;
         -o-transform-origin: 100% 100%;
            transform-origin :100% 100%;
}
