.question-text {
  background-color: pink;
}

.btn.throw-question {
    position: fixed !important;
    bottom: 60px !important;
    height: 50px;
    display: hidden;
    font-size: 24px;
    font-family: 'Lato', sans-serif !important;
    padding-top: 6px;
}
