.question-text {
  background-color: pink;
}

.btn.throw-question {
    /*position: fixed;*/
    bottom: 70px;
    /*width: 40%;*/
    height: 50px;
    display: hidden;
    font-size: 24px;
    /*padding-top: 6px;*/
}